.contacts {
	position: relative;
	margin: 75px 0 10px;
	height: 717px;
	border-radius: 30px;
	background: var(--gray) url('../resources/contacts-img.png') right/contain
		no-repeat;
}

.contacts__wrap {
	position: absolute;
	top: 100px;
	max-width: 570px;
}

.contacts__desc {
	margin-bottom: 60px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 60px;
	line-height: 100%;
	letter-spacing: -0.03em;
	color: var(--text);
}

.contacts__form {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 26px;
	width: 100%;
}

.contacts__label {
	width: 100%;
}

.contacts__input {
	height: 60px;
	padding: 0 40px;
	border-radius: 1000px;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: -0.03em;
	color: #fff;
	background-color: #3b3d3b;
}

.contacts__submit {
	display: block;
	width: 450px;
	height: 70px;
	margin-top: 34px;
	padding: 0 40px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 22px;
	letter-spacing: -0.03em;
	border-radius: 10px;
	color: var(--black);
	background-color: var(--lime);
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
		border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
@media (any-hover: hover) {
	.contacts__submit:hover {
		background-color: transparent;
		color: var(--lime);
		border-color: var(--lime);
	}
}
.contacts__submit:active {
	transform: scale(0.9);
}

@media (max-width: 1150px) {
	.contacts {
		height: 484px;
	}
	.contacts__wrap {
		top: 50px;
		left: 50px;
		max-width: 385px;
	}
	.contacts__desc {
		margin-bottom: 40px;
		font-size: 40px;
		line-height: 101%;
	}
	.contacts__form {
		gap: 16px;
	}
	.contacts__input {
		height: 41px;
		padding: 0 24px;
		font-size: 16px;
	}
	.contacts__submit {
		width: 304px;
		height: 47px;
		margin-top: 24px;
		font-size: 16px;
	}
}

@media (max-width: 750px) {
	.contacts {
		background-image: none;
	}
}

@media (max-width: 580px) {
	.contacts {
		margin: 50px 0 0;
		height: 428px;
		border-radius: 19px;
	}
	.contacts__wrap {
		left: 0;
		width: 100%;
		max-width: 100%;
	}
	.contacts__desc {
		max-width: 310px;
		font-size: 35px;
		line-height: 107%;
	}
	.contacts__form {
		width: 100%;
		gap: 15px;
	}
	.contacts__input {
		height: 38px;
		padding: 0 20px;
		font-size: 15px;
	}
	.contacts__submit {
		width: 100%;
		height: 43px;
		margin-top: 25px;
		font-size: 15px;
	}
}
