.hero {
	height: 765px;
	background: url('../resources/hero-img.jpg') center/cover no-repeat;
	margin-bottom: 75px;
}

.hero__container {
	position: relative;
	height: 100%;
}

.hero__wrap {
	position: absolute;
	bottom: 90px;
}

.hero__desc {
	max-width: 430px;
	margin-bottom: 27px;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.3;
	color: var(--text);
}

.hero__title {
	max-width: 955px;
	font-weight: 400;
	font-size: 80px;
	line-height: 87%;
	letter-spacing: -3px;
	color: var(--lime);
}
